gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
.evn
.~$ios用スライド.pptx
ios用スライド/スライド1.png
ios用スライド/スライド2.png
ios用スライド/スライド3.png
ios用スライド/スライド4.png
ios用スライド/スライド5.png
ios用スライド/スライド6.png
ios用スライド/スライド7.png

